* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
max-width:800px;
margin: 0 auto;
padding: 0px 24px;
}

.intro-chunk{
  padding-top: 100;
  padding-bottom: 100;
  max-width: 400px;
}

main{
  background-color:darkgray;
  padding: 64px 0px;
  border-top: 8px outset lightgray;
}

h1{
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

p{
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;  
}

p:last-child{
  margin: 0;
}

strong{
  color: hsl(160deg, 100%, 30%);
 
}

.card{
  background-color: white;
  padding: 24px;
  border-bottom: 8px outset lightgray;
  margin: 0px -24px;

}

.indented-heading{
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
  padding: 16px 32px;
  border-bottom: 8px solid hsl(45deg 100% 40%);;
  background-color: hsl(45deg 100% 50%);
  width:fit-content;
  
}





